<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="screen,projection" />
  <!-- fontawesome icon -->
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- title -->
  <title>adittyas</title>

</head>

<body class="grey lighten-4">
  <!-- start of header -->
  <header id="home">
    <div class="parallax-container" id="parallax-header">
      <div class="parallax">
        <img src="https://source.unsplash.com/1600x900/?rock" />
      </div>
    </div>
    <ul id="slide-out" class="sidenav grey lighten-5">
      <div class="logo-flat">
        <!-- <img src="https://source.unsplash.com/300x150/?beach,mountain" alt="logo" /> -->
        <div class="logo">A</div>
      </div>
      <li>
        <a href="#home"> <i class="fas fa-home"></i>Home</a>
      </li>
      <li>
        <a href="#education"> <i class="fas fa-university"></i>Education</a>
      </li>
      <li>
        <a href="#skills"> <i class="fas fa-sliders-h"></i>Skills</a>
      </li>
      <li>
        <a href="#experience"> <i class="fas fa-box-open"></i>Experience</a>
      </li>
      <li>
        <a href="#portofolios"> <i class="fas fa-briefcase"></i>Portofolios</a>
      </li>
      <li>
        <a href="#interest"> <i class="fas fa-heart"></i>interest</a>
      </li>
      <li>
        <a href="#contact"> <i class="fas fa-envelope"></i>Contact</a>
      </li>
    </ul>
    <btn id="ham" data-target="slide-out" class="sidenav-trigger show-on-large">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <!-- <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button> -->
    </btn>
  </header>
  <!-- end of header navigation -->

  <!-- v-cards  start-->
  <div id='v-card' class="scroll section no-pad">
    <div class="container">
      <div class="card-panel light-green darken-1 hoverable pos-relative no-margin">
        <div class="white-text w-100 info">
          <div class="info-heading">
            <h3>ADITYA</h3>
            <h5>Web Developer</h5>
          </div>
          <ul class="info-content clearfix w-100">
            <li>
              <i class="fas fa-envelope"></i>
              <span>aditya.sandy16@gmail.com</span>
            </li>
            <li>
              <i class="fas fa-globe-asia"></i>
              <span><a href="https://adittyas.github.io/" class="white-text">www.adityas.github.io</a></span>
            </li>
            <li>
              <i class="fas fa-phone"></i>
              <span>+62 812 9479 4241</span>
            </li>
            <li>
              <i class="fas fa-map-pin"></i>
              <span>Kp. Sawah 17413, Bekasi, Indonesia</span>
            </li>
          </ul>
          <div class="links">
            <a class="btn-floating pulse indigo"><i class="fab fa-facebook-f"></i></a>
            <a class="btn-floating pulse blue darken-4"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn-floating pulse amber accent-4" href="https://www.instagram.com/dtysnd/"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="right" id="profilepic">
          <img src="assets/images/pp.jpg" alt="pas foto" class="responsive-img" />
          <div class="slant one"></div>
          <div class="slant two"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- v-cards  end-->
  <!-- start content about -->
  <div id='about' class="scroll section no-pad">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <p class="center-align">
            Hai! I’m Aditya. Fresh graduate Web Developer with
            specializing in front end development. Having an knowledge
            including advanced HTML5, CSS, CSS3, SASS, SCSS, JavaScript,
            JQuery, vueJS, PHP, mySQL, codeignitier, laravel. Strong
            background in management.
          </p>
        </div>
        <div class="card-action center-align">
          <a href="/assets/doc/CV_aditya_sandy.pdf" class="btn bg-primary-hov" download>Download CV</a>
          <a href="#contact" class="scroll btn bg-primary-hov">Contact Me</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end content about -->
  <!-- start timeline Education -->
  <div id='education' class="scroll  section no-pad">
    <div class="container">
      <div class="section-title txt-upper center-align">
        <h4>
          <img src="/assets/images/book.png" alt="layers" class="z-depth-2" />Education
        </h4>
      </div>
      <div class="timeline">
        <div class="timeline-block">
          <div class="timeline-content">
            <div class="timeline-dot">
              <h4 class="txt-upper">H</h4>
            </div>
            <div class="card">
              <div class="card-action">
                <h5 class="bold">High School</h5>
                <h6>SMAN 5 Bekasi<br />2006-2009</h6>
                <p>
                  I completed my high school degree from this prestigious
                  institution. I successful completed all the credits
                  without any fallout and got A grade overall.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-block">
          <div class="timeline-content">
            <div class="timeline-dot">
              <h4 class="txt-upper">
                U
              </h4>
            </div>
            <div class="card">
              <div class="card-action">
                <h5 class="bold">University</h5>
                <h6>STMIK Mercusuar Bekasi<br />2012-2017</h6>
                <p>
                  I completed my high school degree from this prestigious
                  institution. I successful completed all the credits
                  without any fallout and got A grade overall.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end timeline Education -->
  <!-- start skills -->
  <div id='skills' class="scroll section no-pad">
    <div class="container">
      <div class="section-title txt-upper center-align">
        <h4>
          <img src="/assets/images/mixer.png" alt="layers" class="z-depth-2" />skills
        </h4>
      </div>
      <div class="card">
        <div class="card-content bg-primary no-hover white-text">
          <div class="row no-margin">
            <div class="col s12 l4">
              <h5 class="center-align">Professional</h5>
              <ul class="skill-item">
                <skills-template v-for="item in profesionals" :progress="item.percent" :name="item.text" :key="item.id">
                </skills-template>
              </ul>
            </div>
            <div class="col s12 l4">
              <h5 class="center-align">Software</h5>
              <ul class="skills-item">
                <skills-template v-for="item in software" :progress="item.percent" :name="item.text" :key="item.id">
                </skills-template>
              </ul>
            </div>
            <div class="col s12 l4">
              <h5 class="center-align">Personal</h5>
              <ul class="skills-item">
                <skills-template v-for="item in personal" :progress="item.percent" :name="item.text" :key="item.id">
                </skills-template>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start skills -->
  <!-- start portofolios -->
  <div id='portofolios' class="scroll section no-pad">
    <div class="container">
      <div class="section-title txt-upper center-align">
        <h4>
          <img src="/assets/images/safe.png" alt="layers" class="z-depth-2" />Portofolios
        </h4>
      </div>
      <div class="row no-margin">
        <div class="col s12 l4">
          <div class="card">
            <div class="card-content">
              <a href="https://adittyas.github.io/template/restaurant/">
                <figure>
                  <img src="/assets/images/restaruant.jpg" alt="restaurant" style="width:100%">
                  <figcaption>
                    <h5>Single <b>Page</b></h5>
                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="card">
            <div class="card-content">
              <a href="https://adittyas.github.io/template/piroll/">
                <figure>
                  <img src="/assets/images/wall.jpg" alt="piroll" style="width:100%">
                  <figcaption>
                    <h5>Single <b>Page</b></h5>
                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="card">
            <div class="card-content">
              <a href="https://github.com/adittyas/login-codeignitier">
                <figure>
                  <img src="/assets/images/lock.jpg" alt="restaurant" style="width:100%">
                  <figcaption>
                    <h5>Login <b>Admin</b></h5>
                    <p>Showcase Your Portfolio in Details on a Single Page</p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end portofolios -->
  <!-- start timeline experience -->
  <div id='experience' class="scroll section no-pad">
    <div class="container">
      <div class="section-title txt-upper center-align">
        <h4>
          <img src="/assets/images/layers.png" alt="layers" class="z-depth-2" />Experience
        </h4>
      </div>
      <div class="timeline">
        <div class="timeline-block">
          <div class="timeline-content">
            <div class="timeline-dot">
              <h4 class="txt-upper">
                <i class='fas fa-shopping-cart'></i>
              </h4>
            </div>
            <div class="card">
              <div class="card-action">
                <h5 class="bold">Sales Associate</h5>
                <h6>PT Berca Retail Sportindo<br />2010-2015</h6>
                <p>
                  I started my designing carrier here, spent tow years learning and working in various designing
                  aspects..
                </p>
                <!-- Modal Trigger -->
                <a class="teal-text waves-effect waves-light modal-trigger elip" href="#modal1">
                  <i class='fas fa-ellipsis-h'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-block">
          <div class="timeline-content">
            <div class="timeline-dot">
              <h4 class="txt-upper">
                <i class="fas fa-dollar-sign"></i>
              </h4>
            </div>
            <div class="card">
              <div class="card-action">
                <h5 class="bold">Customer Service Officer</h5>
                <h6>PT Bank Central Asia Tbk<br />2015-2018</h6>
                <p>
                  I started my designing carrier here, spent tow years learning and working in various designing
                  aspects..
                </p>
                <!-- Modal Trigger -->
                <a class="teal-text waves-effect waves-light modal-trigger elip" href="#modal1">
                  <i class='fas fa-ellipsis-h'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end timeline experience -->
  <!-- start content interest -->
  <div id='interest' class="scroll section no-pad">
    <div class="container">
      <div class="section-title txt-upper center-align">
        <h4>
          <img src="/assets/images/heart.png" alt="layers" class="z-depth-2" />Interest
        </h4>
      </div>
      <div class="card">
        <div class="card-content">
          <p class="center-align">
            First of all I love music, country music is my favorite. Love watching football, movies and playing games
            with my buddies. I spend quite a lot of time in traveling and photography, these keeps me fresh for working
            environment. I also spend time volunteering at the Red Cross in London, UK each month.
          </p>
        </div>

        <div class="row no-margin center-align">
          <div class="col s6 l2 bg-primary white-text">
            <i class='fas fa-headphones'></i><BR>Music
          </div>
          <div class="col s6 l2 txt-primary">
            <i class='fas fa-mountain'></i><BR>Hiking
          </div>
          <div class="col s6 l2 bg-primary white-text">
            <i class='fas fa-walking'></i><BR>Travelling
          </div>
          <div class="col s6 l2 txt-primary">
            <i class='fas fa-film'></i><BR>Movies
          </div>
          <div class="col s6 l2 bg-primary white-text">
            <i class='fas fa-dumbbell'></i><BR>Gym
          </div>
          <div class="col s6 l2 txt-primary">
            <i class='fas fa-hamburger'></i><BR>Food
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end content interest -->
  <!-- start timeline experience -->
  <div id='contact' class="scroll section no-pad">
    <div class="container">
      <div class="section-title txt-upper center-align">
        <h4>
          <img src="/assets/images/envelope.png" alt="layers" class="z-depth-2" />Contact
        </h4>
      </div>
      <div class="row">
        <div class="col s12 l6">
          <div class="card">
            <div class="card-content">
              <form action="#" method="get">
                <div class="input-field">
                  <input id="name" v-model='name' type="text" class="validate">
                  <label for="name">Name</label>
                </div>
                <div class="input-field">
                  <input id="subject" v-model='subject' type="text" class="validate">
                  <label for="subject">Subject</label>
                </div>
                <!-- <div class="input-field">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div> -->
                <div class="input-field">
                  <textarea id="textarea" v-model='content' class="materialize-textarea" data-length="120"
                    rows="4"></textarea>
                  <label for="textarea">Textarea</label>
                </div>
                <p>{{name}}</p>
                <a :href='`mailto:aditya.sandy16@gmail.com?subject=${subject}&body=${content}`'
                  class="btn bg-primary-hov">Touch Me</a>
              </form>
            </div>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="card h-100">
            <div class="card-content no-padding h-100">
              <iframe id='map' frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/view?zoom=17&center=-6.3289,106.9359&key=AIzaSyDgpyWc__ybz2NQZyQ7zWYyFl717jCKYA0"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end timeline experience -->
  <!-- templating for skills -->
  <template id="post-skill">
    <li>
      <div class="clearfix">
        {{ name }}<span class="right">{{ progress }}%</span>
      </div>
      <div class="progress">
        <div class="determinate" :style="{width: progress+'%'}"></div>
      </div>
    </li>
  </template>
  <!-- end timeline Education -->
  <!-- Modal Structure -->
  <!-- <template id="modal-template"> -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <!-- </template> -->

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/vendors/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="assets/js/init.js"></script>
  <script type="text/javascript" src="assets/js/vue.js"></script>
  <script type="text/javascript" src="assets/js/root.js"></script>
</body>

</html>