#contact {
    .row {
        @media #{$large-and-up} {
            display: flex;
        }

        .card {
            @media #{$large-and-up} {
                margin: 0;
            }
        }
    }

    textarea {
        max-height: unit(200);
    }
}

#map {
    min-height: unit(394.917);
}