    html {
        color: $dark-lighten !important;
        font-size: 15px !important;
        // scroll-behavior: smooth;
    }

    body {
        color: inherit;
        font-size: inherit;
        line-height: 1.5;
        font-family: 'nunitosans-regular-webfont', Arial, Helvetica, sans-serif;
    }

    ::before,
    ::after {
        font-size: inherit;
    }

    iframe {
        width: 100%;
        // h    ight: 100%;
        display: block;
    }

    .logo-flat {
        background-color: $primer;
        height: unit(150);
        // line-height: 200px;
        position: relative;

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $primer;

            font-size: unit(75);

            color: $white;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -50%;
                width: 200%;
                height: 100%;
                border: unit(6) solid $white;
            }
        }
    }


    .sidenav {
        width: unit(200);
    }