    html {
        color: $font-color !important;
        font-size: 15px !important;
    }

    body {
        color: inherit;
        font-size: inherit;
        line-height: 1.5;
        font-family: 'nunitosans-regular-webfont', Arial, Helvetica, sans-serif;
    }

    iframe {
        width: 100%;
        height: 100%;
        display: block;
    }