#interest {
    .row {
        border-top: thin solid $white-darken;

        .col {
            padding: {
                top: unit(22.5);
                bottom: unit(22.5);
            }
        }
    }


    i {
        font-size: unit(30);
    }
}