#ham {
    position: fixed;
    left: unit(15);
    top: unit(15);
    border-radius: unit(4);
    z-index: 98;
}

.sidenav li>a>i {
    margin: 0;
    font-weight: bold;
}

.sidenav li>a {
    font-weight: bold !important;
}

#parallax-header {
    max-height: unit(350);
}

.parallax {
    img {
        filter: grayscale(50%);
    }
}

.hamburger-box {
    margin-bottom: unit(-5px);
}