.timeline {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: $primer-lighten;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    @media #{$large-and-up} {
        &::before {
            display: none;
        }
    }

    .card {
        margin: 0;

        @media #{$large-and-up} {
            margin: unit(7.5) 0 unit(15) 0;
            @include box-shadow;
        }

        &::before {
            content: "";
            width: unit(5);
            height: 100%;
            background-color: $sekunder-lighten;
            position: absolute;
            border-radius: unit(2) 0 0 unit(2);
            top: 0;
            z-index: 2;
        }

        &::after {
            @media #{$large-and-up} {
                content: "";
                width: unit(45);
                height: unit(4);
                background-color: $primer-lighten;
                position: absolute;
                top: unit(25);
                z-index: 0;
                border-radius: unit(2) 0 0 unit(2);
            }
        }


    }

    .timeline-block {
        position: relative;


        &:nth-of-type(n + 2) {
            @media #{$large-and-up} {
                margin-top: unit(-105);
            }
        }

        @media #{$large-and-up} {
            &:not(:last-child) {
                &::before {
                    @media #{$large-and-up} {
                        content: "";
                        width: 4px;
                        height: calc(100% - 86px);
                        background-color: $primer-lighten;
                        position: absolute;
                        top: unit(25);
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        z-index: 1;
                    }
                }
            }
        }



        &:nth-of-type(odd) {
            .card {
                &::after {
                    @media #{$large-and-up} {
                        left: 100%;
                    }
                }
            }

            &::after {
                left: 0;
            }

            .timeline-content {


                @media #{$large-and-up} {
                    padding-right: unit(45);
                }

                border-radius: unit(2) 0 0 unit(2);

                .timeline-dot {
                    right: 0;

                    @media #{$large-and-up} {
                        left: 104%;
                        transform: translateX(-50%);
                    }
                }
            }

            @media #{$large-and-up} {
                padding-right: 52%;
            }
        }

        &:nth-of-type(even) {
            .card {
                &::after {
                    @media #{$large-and-up} {
                        right: 100%;
                    }
                }
            }

            &::after {
                left: 50%;
            }

            .timeline-content {
                @media #{$large-and-up} {
                    padding-left: unit(45);
                }

                .timeline-dot {
                    right: 0;

                    @media #{$large-and-up} {
                        right: 104%;
                        transform: translateX(50%);
                    }
                }

                &::before {
                    @media #{$large-and-up} {
                        right: 0 !important;
                        border-radius: 0 unit(2) unit(2) 0;
                    }
                }
            }

            @media #{$large-and-up} {
                padding-left: 52%;
            }
        }

        .timeline-content {
            overflow: hidden;
            position: relative;
            width: 100%;
            z-index: 1;
            margin: unit(7.5) 0 unit(15) 0;
            @include box-shadow;
            border-radius: unit(2);

            @media #{$large-and-up} {
                overflow: visible;
                margin: 0;
                box-shadow: none;
            }

            .timeline-dot {
                // display: none;
                // @media #{$large-and-up} {
                display: block;

                h4 {
                    font-size: unit(22);

                    padding: {
                        top: unit(6);
                        right: unit(8);
                    }

                    @media #{$large-and-up} {
                        font-size: unit(25);
                        padding: unit(6);
                    }

                    color: $white;
                    margin: 0;
                    @include text-shadow;
                }

                position: absolute;
                top: 0;
                z-index: 5;
                background-color: $primer;
                text-align: center;

                @media #{$large-and-up} {
                    padding-top: unit(8);
                    width: unit(53);
                    height: unit(53);
                }

                &::before {
                    content: "";
                    border-radius: 50%;
                    position: absolute;
                    top: unit(-45);
                    right: unit(-45);
                    width: unit(90);
                    height: unit(90);
                    background-color: $primer;
                    z-index: -1;
                    transform: rotate(45deg);
                    box-shadow: inset 0 -1px 2px 1px rgba(0, 0, 0, 0.14),
                        inset 0 -2px 2px 2px rgba(0, 0, 0, 0.18),
                        inset 0 -2px 2px -1px rgba(0, 0, 0, 0.28);
                }

                @media #{$large-and-up} {
                    border-radius: 50%;
                    @include box-shadow;

                    &::before {
                        width: 0;
                        height: 0;
                    }
                }

                // }
            }
        }
    }
}

.elip {
    font-size: unit(22.5);
    margin-top: unit(-15);
}