// v-cards
$pad-card: unit(45);

.card-panel {
    padding: $pad-card;
}

#v-card {
    margin-top: unit(-215) !important;

    .card-panel {
        background-color: $primer;
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-heading {
    text-align: center;
    margin-top: unit(60);

    @media #{$large-and-up} {
        text-align: left;
        margin-top: 0;
    }

    @include text-shadow;

    * {
        margin: 0;
    }

    margin-bottom: unit(15);
}

.info-content {
    li {
        font-size: unit(18);

        i {
            float: left;

            @media #{$medium-and-up} {
                width: 8%;
            }

            width: 10%;
            line-height: 1.5;
        }

        span {
            display: block;
            float: left;

            @media #{$medium-and-up} {
                width: 92%;
            }

            width: 90%;
        }
    }
}

.card-panel {
    @media #{$large-and-up} {
        display: flex;
        justify-content: space-between;
    }

    position: relative;
}

#profilepic {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    // overflow: hidden;

    img {
        max-width: unit(200);
        object-fit: cover;
        object-position: center;
        border-radius: unit(15);
        @include box-shadow;

        @media #{$large-and-up} {
            border-radius: 0;
            max-width: unit(400);
            box-shadow: none;
            display: block;
        }
    }

    @media #{$large-and-up} {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: -$pad-card;
    }

}

.slant {
    @media #{$large-and-up} {
        &.one {
            left: 0;
            border-color: transparent transparent transparent $primer;
        }

        &.two {
            right: 0;
            border-color: $primer transparent transparent transparent;
        }

        top: 0;

        z-index: 1;
        position: absolute;
        border-width: unit(400) 0 0 unit(100);
        border-style: solid;

    }
}

.links {
    font-size: unit(30);
    margin-left: unit(-3.75);
    text-align: center;

    @media #{$large-and-up} {
        text-align: left;
    }

    >a {
        margin: 0 unit(3);

        @media #{$large-and-up} {
            margin: 0 unit(7.5);
        }

        border-radius: 50%;
    }
}

.pulse::before {
    animation: none;
}

.pulse:hover::before {
    animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}

.card {
    .card-content {
        padding: unit(40);
    }

    .card-action {
        padding: unit(20);
    }
}