// primary color

$white : #fefefe;
$white-lighten: lighten($white, 15%);
$white-darken: darken($white, 15%);
$dark : #191919;
$dark-lighten: lighten($dark, 30%);
$dark-darken: darken($dark, 30%);
$primer:#388e3c;
$primer-lighten: lighten($primer, 20%);
$primer-darken: darken($primer, 20%);
$sekunder:#6a2c70;
$sekunder-lighten: lighten($sekunder, 20%);
$sekunder-darken: darken($sekunder, 20%);


.bg-primary {
    background-color: $primer !important;

    &-hov {
        background-color: $primer !important;

        &:hover {
            background-color: $primer-darken !important;
        }
    }
}

.txt-primary {
    color: $primer !important;

    &-hov {
        color: $primer !important;

        &:hover {
            color: $primer-darken !important;
        }
    }
}