.timeline {
    .card .card-action a:not(.btn):not(.btn-small):not(.btn-large):not(.btn-large):not(.btn-floating) {
        color: $primer;

        &:hover {
            color: $primer-lighten;
        }
    }
}

.row {
    margin-bottom: 0;
}

.section {
    padding-top: .5rem;
    padding-bottom: 0;
}

.container-full {
    max-width: unit(1336);
    margin: 0 auto;
}